<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <input 
      type="checkbox" 
      formControlName="isFavorite" 
      class="form-control favorite-checkbox" 
      #favCheckbox>
  <div class="tooltip-container">
    <span class="checkbox-icon favorite tooltip-element">
      <fa-icon [icon]="favCheckbox.checked ? faFullHeart : faEmptyHeart" (click)="onSwitchFavorite()"></fa-icon>
    </span>
    <span class="tooltip">Mark as favorite</span>
  </div>
  <input 
      type="text" 
      formControlName="projectName"
      class="form-control"
      placeholder="Project name">
  <input type="checkbox" formControlName="isPaid" class="form-control" #paidCheckbox>
  <span class="checkbox-icon paid">
    <fa-icon [icon]="faCheck" [class.checked]="paidCheckbox.checked" (click)="onSwitchPaid()"></fa-icon>
  </span>
  <label class="form-label">Paid project</label>
  <input 
      type="text" 
      formControlName="payRate" 
      class="form-control project-pay-rate"
      (keydown)="checkNumberInput($event)"><label class="form-label pay-rate-label">$/hour</label>
  <div class="tooltip-container">
    <button class="form-button tooltip-element" type="button" (click)="onClearForm()">
      <fa-icon [icon]="faReload"></fa-icon>
    </button>
    <span class="tooltip">Clear form</span>
  </div>
  <div class="tooltip-container">
    <button class="form-button form-button-submit tooltip-element" type="submit" [disabled]="!projectForm.valid">
      <fa-icon [icon]="faCheck"></fa-icon>
    </button>
    <span class="tooltip">Submit</span>
  </div>
</form>