<nav>
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="../../assets/img/header/donut.svg" alt="">
  </a>

  <div class="align-baseline">
    <a class="navbar-brand" [routerLink]="['/']"><p>Time Tracker</p></a>
  
    <div class="navbar-nav" #navigation>
      <ul class="navbar-nav-group nav-main">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/tasks'">Tasks</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/projects'">Projects</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/reports'">Reports</a>
        </li>
      </ul>
      <ul class="navbar-nav-group nav-signin" *ngIf="!(isAuthenticated$ | async)">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/login'">Log In</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/register'">Register</a>
        </li>
      </ul>
      <ul class="navbar-nav-group nav-signout" *ngIf="isAuthenticated$ | async">
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()" style="cursor: pointer">Log Out</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/profile'">Profile</a>
        </li>
      </ul>
    </div>
    <div class="nav-toggle-button">
      <button
          class="btn hamburger hamburger--elastic"
          [class.is-active]="menuOpen"
          type="button" 
          (click)="onHamburgerClick()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
</nav>
<div class="backdrop" [class.backdrop-closed]="!menuOpen" (click)="onBackdropClick()"></div>
