<div class="task" 
     [class.even]="index % 2 === 1"
     (click)="onArrowClicked()">
  <button class="task-button arrow-button"
          [class.button-hidden]="!task.breaks || task.breaks.length === 0"
          type="button" 
          [@rotatedState]="state">
    <fa-icon [icon]="faArrowRight" ></fa-icon>
  </button>
  <div class="task-description">
    {{task.description}}
  </div>
  <div class="task-project">
    {{ task.project?.projectName }}
  </div>
  <div class="task-length">
    {{formatTimeRange(task.workHours)}} ({{formatTaskLength(task)}})
  </div>
  <button type="button" class="task-button edit-button" (click)="onEditTask($event)">
      <fa-icon [icon]="faEdit" ></fa-icon>
  </button>
  <button type="button" class="task-button delete-button" (click)="onDeleteTask($event)">
      <fa-icon [icon]="faDelete" ></fa-icon>
  </button>
</div>
<div 
    *ngIf="task.breaks && task.breaks.length > 0" 
    [id]="'breaksList'+index" 
    class="task-breaks"
    [@collapse]="taskUIstate.isExpanded ? 'rotated' : 'default'">
  <div class="task-break" *ngFor="let taskBreak of task.breaks">
    <div class="break-icon"><fa-icon [icon]="faCoffee"></fa-icon></div>
    <div class="task-break-length"> {{ formatTimeRange(taskBreak)}} ({{formatBreakLength(taskBreak) }})</div>
  </div>
</div>