<div class="container">
  <form #f="ngForm" (ngSubmit)="onLogIn()" *ngIf="!(isLoggedIn | async)" class="login-form">
    <input type="text" name="email" id="email" class="form-control" placeholder="E-mail" [(ngModel)]="email" autocomplete="username" required>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="password" autocomplete="current-password" password>
    <button type="submit" class="form-button" [disabled]="!f.valid">Log In</button>
  </form>
  <div class="info-message" *ngIf="(isLoggedIn | async)">You are already logged in</div>
</div>