<div class="form-dropdown task-project" #dropdownElement>
  <input 
      type="text"
      id="{{id}}"
      [pattern]="'^/d?/d:/d/d[am|AM|pm|PM]$'"
      class="form-control dropdown-input"
      [class.open]="dropdownOpen"
      [placeholder]="placeholder"
      (click)="onDropdownInputClicked()"
      (keyup)="onDropdownInputKey($event)"
      [value]="formatTime()"
      #dropdownInput
      >
  <div 
      class="dropdown-area" 
      [class.open]="dropdownOpen" 
      [@collapsed]="!dropdownOpen"
      #optionsList>
    <button
      type="button" 
      class="dropdown-item"
      *ngFor="let item of items; let i = index" 
      [class.selected]="i === hoveredItemIndex"
      (click)="onItemSelected(i)"
      (mouseenter)="onItemHovered(i)">
        {{ item }}
    </button>
  </div>
</div>