@import "../../../../assets/scss/partials/forms";
@import "../../../../assets/scss/partials/variables";

.form-dropdown {
  display: inline-block;
  width: 5.5rem;
}

.form-control {
  margin: 0;
}

input {
  text-align: center;
}

