<div class="form-dropdown" #dropdownControl>
  <input 
      type="text" 
      [pattern]="'^/d?/d:/d/d[am|AM|pm|PM]$'"
      class="form-control dropdown-input"
      [class.open]="dropdownOpen"
      id="{{id}}"
      [value]="formatTime()"
      (keyup)="onKeyPressed($event)"
      (click)="onInputClicked()"
      [placeholder]="placeholder"
      #timeInput>
  <div class="dropdown-area" [class.open]="dropdownOpen">
    <button
      type="button" 
      class="dropdown-item"
      *ngFor="let timeOption of timeOptions" 
      (click)="onOptionClick(timeOption)">
          {{ timeOption }}
    </button>
  </div>
</div>