<form #f="ngForm" (ngSubmit)="onRegister()" class="retister-form">
  <input 
    type="text" 
    name="email" 
    id="email" 
    class="form-control" 
    placeholder="E-mail" 
    [(ngModel)]="email" 
    autoComplete="username"
    required >
  <input 
    type="password" 
    name="password" 
    id="password" 
    class="form-control" 
    placeholder="Password" 
    [(ngModel)]="password" 
    password 
    minlength="6"
    autoComplete="new-password">
  <button 
    type="submit" 
    class="form-button" 
    [disabled]="!f.valid">
      Register
  </button>
</form>