.view-header {
  display: flex;
  justify-content: space-between;
  border-bottom: $border-width solid $main-color--lighter;
  padding: 0.75rem 0 0.5rem 0;
}

.button--nav {
  display: inline-block;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  max-width: 9.25rem;
  white-space: nowrap;
  font-family: $main-font;
  font-size: 1rem;
  color: $main-color--darker;
  cursor: pointer;

  &:hover {
    border-radius: $border-radius;
    background-color: $main-color;
    color: white;
  }
  
  &:active,
  &:focus {
    outline: none;
  }

  &[disabled] {
    color: darken($background-color, 20%);
    cursor: default;

    &:hover {
      color: white;
      background-color: darken($background-color, 20%);
    }
  }
}

.view-footer {
  display: flex;
  justify-content: space-evenly;
  border-top: $border-width solid $main-color--lighter;
  padding: 0.5rem 0 0.5rem 0;
}

.current {
  color: $main-color;
}

.outside-current-range {
  color: $main-color--lighter;
}

.future {
  color: darken($background-color, 20%);
  cursor: default;

  &:hover {
    color: white;
    background-color: darken($background-color, 20%);
  }
}

.selected {
  color: transparent;
  background-color: transparent;
  background-image: url('/assets/img/header/donut.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-color: transparent;
    color: transparent;
  }
}