<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <ng-container *ngIf="!editMode">
      <button 
          *ngIf="!tickingMode || isPaused" 
          type="button" 
          class="form-button tooltip-container" 
          (click)="onPlayTickingTask()">
        <fa-icon [icon]="faPlay"></fa-icon>
        <span class="tooltip">{{isPaused ? 'Resume task' : 'Start task timer'}}</span>
      </button>
      <button 
          *ngIf="tickingMode && !isPaused" 
          type="button" 
          class="form-button tooltip-container" 
          (click)="onPauseTickingTask()">
        <fa-icon [icon]="faPause"></fa-icon>
        <span class="tooltip">Have a break</span>
      </button>
      <button 
          *ngIf="tickingMode" 
          type="button" 
          class="form-button tooltip-container" 
          (click)="onStopTickingTask()">
        <fa-icon [icon]="faStop"></fa-icon>
        <span class="tooltip">Stop task timer</span>
      </button>
    </ng-container>

    <button 
        type="button" 
        class="form-button tooltip-container" 
        (click)="onAddBreak()">
      <fa-icon [icon]="faCoffee"></fa-icon>
      <span class="tooltip">Add a break</span>
    </button>
    <button 
        type="button" 
        class="form-button tooltip-container" 
        (click)="onClearForm()">
      <fa-icon [icon]="faReload"></fa-icon>
      <span class="tooltip">Clear form</span>
    </button>
    <button 
        type="submit" 
        [disabled]="!taskForm.valid" 
        class="form-button form-button-submit tooltip-container">
      <fa-icon [icon]="faCheck"></fa-icon>
      <span class="tooltip">Submit</span>
    </button>
  </div>

  <div class="form-group">
    <input 
        type="text" 
        class="form-control task-description" 
        formControlName="description" 
        placeholder="What are you up to?">
    <ng-select 
        [items]="projects$ | async" 
        bindLabel="projectName" 
        formControlName="project" 
        placeholder="Project">
      <ng-template ng-option-tmp let-project="item" let-index="index" let-search="searchTerm">
        <span [hidden]="!project.isFavorite" class="favorite project-item-icon">
      <fa-icon [icon]="faFullHeart"></fa-icon>
      </span>
        <span [ngOptionHighlight]="search">{{project.projectName}}</span>
      </ng-template>
    </ng-select>

    <div class="calendar-group">
      <input 
          class="form-control calendar-input" 
          placeholder="yyyy-mm-dd" 
          name="dp" 
          formControlName="workDate" 
          ngbDatepicker 
          [maxDate]="getToday()" 
          #d="ngbDatepicker">

      <button type="button" class="form-button calendar-button" (click)="d.toggle()">
      <fa-icon [icon]="faCalendar"></fa-icon>
      </button>
    </div>

    <div class="time-range-group">
      <app-time-range [id]="'work'" formControlName="workHours"></app-time-range> 
      <span class="form-time-label">{{ formatTaskLength() }}</span>
    </div>
  </div>

  <div formArrayName="breaks">
    <div *ngFor="let breakControl of getBreakControls(); let i = index" class="form-group">
      <button type="button" class="form-button" (click)="onRemoveBreak(i)">
        <fa-icon [icon]="faDelete"></fa-icon>
      </button>
      <div class="time-range-group">
        <app-time-range [id]="'break'+i" [formControlName]="i"></app-time-range>
        <span class="form-time-label">{{ formatBreakLength(i) }}</span>
      </div>
    </div>
  </div>


  <div class="form-group form-error" *ngIf="!taskForm.valid && taskForm.errors && taskForm.errors['breakTimeOutsideOfWorkHours']">
    <fa-icon [icon]="faBug"></fa-icon> Break time range should be inside of work time range.
  </div>
  <div class="form-group form-error" *ngIf="!taskForm.valid && taskForm.errors && taskForm.errors['breakTimesIntersect']">
    <fa-icon [icon]="faBug"></fa-icon> Break time ranges should not intersect.
  </div>
</form>