<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-inline">
        <input type="text" class="form-control mr-3"
               formControlName="taskName">
        <div class="input-group mr-3">
            <input 
            class="form-control calendar" 
            placeholder="yyyy-mm-dd"
            name="dp" 
            formControlName="workDate"
            ngbDatepicker 
            [maxDate]="getToday()"
            #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <fa-icon [icon]="faCalendar"></fa-icon>
            </button>
          </div>
        </div>
        <app-time-range 
          [id]="'work'" 
          formControlName="workHours"></app-time-range>
        <span class="text-muted mx-1">{{ formatTaskLength() }}</span>
        <button class="btn btn-light" type="submit" [disabled]="!taskForm.valid">
          <fa-icon [icon]="faCheck"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-xs-12">
      <button class="btn btn-light" (click)="onAddBreak()" type="button">
          <fa-icon [icon]="faCoffee"></fa-icon><span> Add a break</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" formArrayName="breaks">
      <div class="container">
        <div class="row" 
          *ngFor="let breakControl of getBreakControls(); let i = index"
          style="margin-bottom: 7px;">
          <div class="col-xs-10">
            <app-time-range [id]="'break'+i" [formControlName]="i" ></app-time-range>
            <span class="text-muted mx-1">{{ formatBreakLength(i) }}</span>
          </div>
          <div class="col-xs-2 ml-1">
              <button 
                type="button"
                class="btn btn-light"
                (click)="onRemoveBreak(i)">
                <fa-icon [icon]="faDelete"></fa-icon>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger" *ngIf="!taskForm.valid && taskForm.errors && taskForm.errors['breakTimeOutsideOfWorkHours']">
        <fa-icon [icon]="faBug"></fa-icon> Break time range should be inside of work time range.
      </div>
      <div class="alert alert-danger" *ngIf="!taskForm.valid && taskForm.errors && taskForm.errors['breakTimesIntersect']">
        <fa-icon [icon]="faBug"></fa-icon> Break time ranges should not intersect.
      </div>
  </div>
  </div>
</form>