<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <ng-container *ngIf="!editMode">
      <div class="tooltip-container">
        <button 
            *ngIf="!tickingMode || isPaused" 
            type="button" 
            class="form-button tooltip-element" 
            (click)="onPlayTickingTask()">
          <fa-icon [icon]="faPlay"></fa-icon>
        </button>
        <span class="tooltip">{{isPaused ? 'Resume task' : 'Start task timer'}}</span>
      </div>
      <div class="tooltip-container">
        <button 
            *ngIf="tickingMode && !isPaused" 
            type="button" 
            class="form-button tooltip-element" 
            (click)="onPauseTickingTask()">
          <fa-icon [icon]="faPause"></fa-icon>
        </button>
        <span class="tooltip">Have a break</span>
      </div>
      <div class="tooltip-container">
        <button 
            *ngIf="tickingMode" 
            type="button" 
            class="form-button tooltip-element" 
            (click)="onStopTickingTask()">
          <fa-icon [icon]="faStop"></fa-icon>
        </button>
        <span class="tooltip">Stop task timer</span>
      </div>
    </ng-container>

    <div class="tooltip-container">
      <button 
          type="button" 
          class="form-button tooltip-element" 
          (click)="onAddBreak()">
        <fa-icon [icon]="faCoffee"></fa-icon>
      </button>
      <span class="tooltip">Add a break</span>
    </div>
    <div class="tooltip-container">
      <button 
          type="button" 
          class="form-button tooltip-element" 
          (click)="onClearForm()">
        <fa-icon [icon]="faReload"></fa-icon>
      </button>
      <span class="tooltip">Clear form</span>
    </div>
    <div class="tooltip-container">
      <button 
          type="submit" 
          [disabled]="!taskForm.valid" 
          class="form-button form-button-submit tooltip-element">
        <fa-icon [icon]="faCheck"></fa-icon>
      </button>
      <span class="tooltip">Submit</span>
    </div>
  </div>

  <div class="form-group">
    <input 
        type="text" 
        class="form-control task-description" 
        formControlName="description" 
        placeholder="What are you up to?">
    <ng-select 
        [items]="projects$ | async" 
        bindLabel="projectName"
        formControlName="project" 
        placeholder="Project">
      <ng-template ng-option-tmp let-project="item" let-index="index" let-search="searchTerm">
        <span [hidden]="!project.isFavorite" class="favorite project-item-icon">
          <fa-icon [icon]="faFullHeart"></fa-icon>
        </span>
        <span [ngOptionHighlight]="search">{{project.projectName}}</span>
      </ng-template>
    </ng-select>
    <!-- <div class="form-dropdown task-project" #projectDropdown>
      <input 
          type="text" 
          class="form-control dropdown-input"
          [class.open]="projectsDropdownOpen"
          formControlName="project"
          placeholder="Project"
          (click)="onProjectInputClicked()"
          >
      <div class="dropdown-area" [class.open]="projectsDropdownOpen">
        <button
          type="button" 
          class="dropdown-item"
          *ngFor="let project of (projects$ | async)" 
          (click)="onProjectSelected(project)">
            <span [hidden]="!project.isFavorite" class="favorite project-item-icon">
              <fa-icon [icon]="faFullHeart"></fa-icon>
            </span>
            <span>{{project.projectName}}</span>
        </button>
      </div>
    </div> -->

    <app-datepicker formControlName="workDate"></app-datepicker>

    <div class="time-range-group">
      <app-time-range [id]="'work'" formControlName="workHours"></app-time-range> 
      <span class="form-time-label">{{ formatTaskLength() }}</span>
    </div>
  </div>

  <div formArrayName="breaks">
    <div *ngFor="let breakControl of getBreakControls(); let i = index" class="form-group">
      <button type="button" class="form-button" (click)="onRemoveBreak(i)">
        <fa-icon [icon]="faDelete"></fa-icon>
      </button>
      <div class="time-range-group">
        <app-time-range [id]="'break'+i" [formControlName]="i"></app-time-range>
        <span class="form-time-label">{{ formatBreakLength(i) }}</span>
      </div>
    </div>
  </div>


  <div class="form-group form-error" *ngIf="!taskForm.valid && taskForm.errors && taskForm.errors['breakTimeOutsideOfWorkHours']">
    <fa-icon [icon]="faBug"></fa-icon> Break time range should be inside of work time range.
  </div>
  <div class="form-group form-error" *ngIf="!taskForm.valid && taskForm.errors && taskForm.errors['breakTimesIntersect']">
    <fa-icon [icon]="faBug"></fa-icon> Break time ranges should not intersect.
  </div>
</form>