@import '../../assets/scss/partials/variables';
@import '../../assets/scss/partials/colors';

.datepicker-popup {
  position: absolute;
  border: $border-width solid $main-color--lighter;
  border-radius: $border-radius;
  margin-top: 1rem;
  background-color: $background-color;
  z-index: 2;

  .datepicker-pointer {
    position: absolute;
    top: -0.37rem;
    left: 1.5rem;
    border-style: solid;
    border-width: $border-width;
    border-color: $main-color--lighter $background-color $background-color $main-color--lighter ;
    background-color: $background-color;
    width: 0.75rem;
    height: 0.75rem;
    transform: rotate(45deg);
    z-index: 3;
  }
}