

<div class="form-dropdown task-project" #dropdownElement>
  <input 
      type="text" 
      class="form-control dropdown-input"
      [class.open]="dropdownOpen"
      [placeholder]="placeholder"
      (click)="onDropdownInputClicked()"
      (keyup)="onDropdownInputKey($event)"
      [value]="selectedItem ? (displayProperty ? selectedItem[displayProperty] : selectedItem) : ''"
      #dropdownInput
      >
  <div 
      class="dropdown-area" 
      [class.open]="dropdownOpen"
      [@collapsed]="!dropdownOpen"
      #optionsList>
      <button
          type="button" 
          class="dropdown-item"
          *ngFor="let filteredItem of filteredItems; let i = index" 
          [class.selected]="i === hoveredItemIndex"
          (click)="onItemSelected(filteredItem.index)"
          (mouseenter)="onItemHovered(i)">
            <ng-container 
                *ngTemplateOutlet="dropdownItemTemplate ? dropdownItemTemplate : dropdownItemDefault;
                                  context: {
                                              displayText: filteredItem.value, 
                                              item: items[filteredItem.index],
                                              searchTerm: filterString
                                           }" >

            </ng-container>
            <ng-template #dropdownItemDefault let-displayText="displayText" let-searchTerm="searchTerm">
              <span [innerHTML]="displayText | filterString: filterString"></span>
              <!-- {{ displayName | filterString: filterString }} -->
            </ng-template>
            
        </button>
    <!-- <button
      type="button" 
      class="dropdown-item"
      *ngFor="let item of items; let i = index" 
      [class.selected]="i === hoveredItemIndex"
      (click)="onItemSelected(i)"
      (mouseenter)="onItemHovered(i)">
        {{ displayProperty ? item[displayProperty] : item }}
    </button> -->
  </div>
</div>

