  <div *ngIf="(projects$ | async).length > 0; then projectsList else noProjects"></div>

  <ng-template #projectsList>
    <div class="project" *ngFor="let project of (projects$ | async); let i=index">
      <div class="project-name">
        {{ project.projectName }}
      </div>
      <div class="project-is-paid cell" [class.paid-true]="project.isPaid">
        <fa-icon [icon]="faDollar"></fa-icon>
      </div>
      <div class="pay-rate">
        {{ project.isPaid ? (project.payRate | currency)+'/hour' : '' }}
      </div>
      <button type="button" class="project-button favorite-button" (click)="onSwitchFavorite(project)">
        <fa-icon [icon]="project.isFavorite ? faFullHeart : faEmptyHeart" ></fa-icon>
      </button>
      <button type="button" class="project-button edit-button" (click)="onEditProject(project)">
        <fa-icon [icon]="faEdit" ></fa-icon>
      </button>
      <button type="button" class="project-button delete-button" (click)="onDeleteProject(project)">
        <fa-icon [icon]="faDelete" ></fa-icon>
      </button>
    </div>
  </ng-template>


  <ng-template #noProjects>
    <div class="empty-list">
      No projects added yet
    </div>
  </ng-template>
