@import "./colors";
@import "./variables";

input {
  outline: none !important;
}

form.ng-dirty input.ng-invalid {
  border: $border-width solid $accent-color!important;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($accent-color, .25);
  }
}

.form-group {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem 0;
}

.form-control {
  border: $border-width solid $main-color--lighter;
  color: $main-color--darker;
  font-family: 'Quicksand', Arial, sans-serif;
  font-size: 1rem;
  border-radius: $border-radius;
  padding: 0.5rem 0.75rem;
  margin: 0 $input-x-margin;

  &:focus {
    border-color: $main-color;
    box-shadow: 0 0 0 0.2rem rgba($main-color, 0.25);
  }

  &.ng-invalid.ng-touched {
    border: $border-width solid $accent-color!important;

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($accent-color, .25);
    }
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $main-color--lighter;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $main-color--lighter;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $main-color--lighter;
}

.form-button {
  background: $main-color;
  border: $border-width solid $main-color;
  border-radius: $border-radius;
  padding: 0 0.75rem;
  margin: 0 $input-x-margin;
  box-sizing: content-box;
  height: 2.25rem;
  font-family: 'Quicksand', Arial, sans-serif;
  color: white;
  cursor: pointer;
  
  &.form-button-submit {
    background: $accent-color;
    border-color: $accent-color;

    &:disabled {
      background: $accent-color--lighter;
      border-color: $accent-color--lighter;
    }
  }

  &:focus,
  &:active {
    outline: none !important;
  }

  &:disabled {
    background: $main-color--lighter;
    border-color: $main-color--lighter;
  }
}


