@import '../../../assets/scss/partials/variables';
@import '../../../assets/scss/partials/colors';

$cell-width: 2rem;

.days-view-header {
  display: flex;
  justify-content: space-between;
  border-bottom: $border-width solid $main-color--lighter;
  padding: 0.75rem 0 0.5rem 0;
}

.button--switch-month {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  font-family: $main-font;
  font-size: 1rem;
  color: $main-color--darker;

  &:hover {
    border-radius: $border-radius;
    background-color: $main-color;
    color: white;
  }
  
  &:active,
  &:focus {
    outline: none;
  }
}

.day-names {
  display: flex;
  flex-wrap: nowrap;
  margin: 0.75rem 1rem;
}

.day-name {
  width: $cell-width;
  text-align: center;
  color: $main-color;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, $cell-width);
  margin: 0.5rem 1rem 1rem 1rem;
}

.day {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  color: $main-color--darker;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: $main-color;
    color: white;
  }
}

.today {
  color: $main-color;
}

.outside-current-month{
  color: $main-color--lighter;
}

.selected {
  // color: white;
  // background-color: $accent-color;
  color: transparent;
  background-color: transparent;
  background-image: url('../../../assets/img/header/donut.png');
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    background-color: transparent;
    color: transparent;
  }
}

.future {
  color: darken($background-color, 20%);
  cursor: default;

  &:hover {
    color: white;
    background-color: darken($background-color, 20%);
  }
}