<div class="messages-container">
  <ng-container *ngFor="let message of (messages | async)">
    <div *ngIf="message.type == infoType" class="message message-info" role="alert">
        <span class="message--icon"><fa-icon [icon]="faCheck" ></fa-icon> </span>
        <div class="message--text">{{ message.message }}</div>
        <fa-icon [icon]="faClose" 
          aria-label="Close" 
          class="message--close-button"
          (click)="onCloseMessage(message.id)">
        </fa-icon>
    </div>
    <div *ngIf="message.type == errorType"  class="message message-error" role="alert">
      <span class="message--icon"><fa-icon [icon]="faAngryFace"></fa-icon> </span>
        <div class="message--text">{{ message.message }}</div>
        <fa-icon 
          [icon]="faClose" 
          aria-label="Close" 
          class="message--close-button"
          (click)="onCloseMessage(message.id)"></fa-icon>
    </div>
  </ng-container>
</div>