
<div class="container">
  <hr>
</div>
<!-- <div *ngFor="let task of tasks$ | async; let i = index;">
  <app-task-row [task]="task" [index]="i"></app-task-row>
</div> -->

<ng-template ngFor let-task [ngForOf]="tasks$ | async" let-i="index" let-isFirst="first" let-isLast="last">
  <div *ngIf="isFirst || !sameDate((tasks$ | async)[i], (tasks$ | async)[i-1])" class="container">
    <div class="row border border-secondary bg-light p-2 rounded-sm">
      <div class="col-xs-12">
        {{task.workDate.year}}/{{task.workDate.month}}/{{task.workDate.day}}
      </div>
    </div>
  </div>
  <app-task-row [task]="task" [index]="i"></app-task-row>
  <div *ngIf="isLast || !sameDate((tasks$ | async)[i], (tasks$ | async)[i+1])" class="container">
    <hr />
  </div>
</ng-template>
