/* You can add global styles to this file, and also import other style files */
.btn:focus,
.btn.focus,
.btn:active,
input[type="checkbox"]:focus {
  outline: none !important;
  box-shadow: none;
}

.favorite {
  color: darkred;
}