<p>Welcome!</p>
<!-- <app-dropdown
    class="godzilla"
    [items]="items"
    [placeholder]="'Godzilla'"></app-dropdown>

<app-date-range-selector [selectedMonth]='selectedMonth'></app-date-range-selector>
<app-dropdown
    class="godzilla"
    [items]="items"
    [placeholder]="'Godzilla'"></app-dropdown>
<app-date-range-selector [selectedMonth]='selectedMonth'></app-date-range-selector>
<app-date-range-selector [selectedMonth]='selectedMonth'></app-date-range-selector>
<app-date-range-selector [selectedMonth]='selectedMonth'></app-date-range-selector>
<app-dropdown
    class="godzilla"
    [items]="items"
    [placeholder]="'Godzilla'"></app-dropdown>
<app-date-range-selector [selectedMonth]='selectedMonth'></app-date-range-selector>
<app-date-range-selector [selectedMonth]='selectedMonth'></app-date-range-selector>
<app-dropdown
    class="godzilla"
    [items]="items"
    [placeholder]="'Godzilla'"></app-dropdown>
<app-datepicker></app-datepicker> -->



