
.parent-of-scrollable {
  display: flex;
  align-items: flex-end;
  width: 200px;
  overflow-x: auto;
  height: 500px;
}

.scrollable {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-end;

  overflow-y: visible;
  border: 1px solid grey;

}

.test-bar {
  width: 300px;
  height: 300px;
  display: inline-block;
  position: relative;
  border: 1px solid red;
  background-color: pink;
  flex-shrink: 0;
}

.test-tooltip {
  background-color: orange;
  color: white;
  position: absolute;
  bottom: 110%;
  left: -50%;
  width: 200px;
  height: 200px;
  border: 1px solid purple;
  z-index: 200;
}

.more-insides {
  width: 100%;
  height: 100%;
}

// .container {
//   position: relative;
//   height: 300px;
// }

// .parent-of-scrollable {
//   display: flex;
//   align-items: flex-end;
//   height: 5000px;
//   width: 200px;
//   overflow-x: auto;

//   position: absolute;
//   top: -4700px;
// }

// .scrollable {
//   width: 200px;
//   height: 200px;
//   display: flex;
//   align-items: flex-end;

//   overflow-y: visible;
//   border: 1px solid grey;

// }

// .test-bar {
//   width: 300px;
//   height: 300px;
//   display: inline-block;
//   position: relative;
//   border: 1px solid red;
//   background-color: pink;
//   flex-shrink: 0;
// }

// .test-tooltip {
//   background-color: orange;
//   color: white;
//   position: absolute;
//   bottom: 110%;
//   left: -50%;
//   width: 200px;
//   height: 200px;
//   border: 1px solid purple;
//   z-index: 200;
// }

// .more-insides {
//   width: 100%;
//   height: 100%;
// }