<div class='days-view'>
  <div class="calendars">
    <div class="calendar">
      <div class="day-names">
        <div *ngFor="let dayOfWeek of daysOfWeek" class="day-name">{{ dayOfWeek }}</div>
      </div>
      <div class="days">
        <button 
            *ngFor="let day of prevMonthDays; let isFirst = first" 
            type="button"
            class="day" 
            [style.gridColumnStart]="getColumnNo(day)"
            [class.today]="isToday(day)"
            [class.start-day]="isStartDay(day)"
            [class.end-day]="isEndDay(day)"
            [class.range-day]="isRangeDay(day)"
            (click)="onDaySelected(day)"
            (mouseenter)="onDayHovered(day)"
            (mouseout)="onDayUnhovered()">
          {{ day.getDate() }}
        </button>
      </div>
    </div>
    <div class="calendar">
      <div class="day-names">
        <div *ngFor="let dayOfWeek of daysOfWeek" class="day-name">{{ dayOfWeek }}</div>
      </div>
      <div class="days">
        <button 
            *ngFor="let day of selectedMonthDays; let isFirst = first" 
            type="button"
            class="day" 
            [style.gridColumnStart]="getColumnNo(day)"
            [class.today]="isToday(day)"
            [class.start-day]="isStartDay(day)"
            [class.end-day]="isEndDay(day)"
            [class.range-day]="isRangeDay(day)"
            (click)="onDaySelected(day)"
            (mouseenter)="onDayHovered(day)"
            (mouseout)="onDayUnhovered()">
          {{ day.getDate() }}
        </button>
      </div>
    </div>
  </div>
</div>